html {

    -webkit-font-smoothing: antialiased;

}
body{
    background-color: #f0eded;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topnav {
    background-color: #228B22;
    overflow: hidden;
    top: 0;
  }
  .topnav h1{
      float: left;
      font-size: 30px;
      color: white;
       padding: 17px 30px;
       font-family: 'Roboto', sans-serif;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: transparent;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;

      display: block;
    }
    .topnav h1{
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav h1{
        display: none;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
header {
    margin-top: 5%;
    color: black;
    font-size: 24px;
    width: 90%;
    max-width: 1240px;
    margin-bottom: 3%;
    margin-left: 3%;
}

header a {
    float: right;
    color: black;
    font-size: 20px;
    margin-bottom: 3%;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}


@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card p {
    flex: 1;
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2;
    }

    .item-1 h1 {
        font-size: 24px;
    }
}